# Example — replace all values before use
WAZUH_VERSION=4.14.5
WAZUH_IMAGE_VERSION=4.14.5
WAZUH_TAG_REVISION=1
FILEBEAT_TEMPLATE_BRANCH=4.14.5
WAZUH_FILEBEAT_MODULE=wazuh-filebeat-0.5.tar.gz
WAZUH_UI_REVISION=1

INDEXER_USERNAME=admin
INDEXER_PASSWORD=<STRONG_PASSWORD_MIN_16_CHARS>

API_USERNAME=wazuh-wui
API_PASSWORD=<STRONG_PASSWORD_MIN_16_CHARS>

DASHBOARD_USERNAME=kibanaserver
DASHBOARD_PASSWORD=<STRONG_PASSWORD_MIN_16_CHARS>

WAZUH_DOMAIN=<wazuh.your-domain.com>
